body {
    margin: 0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#scores {
    display: grid;
    width: 280px;
    height: 400px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(15, 1fr);
    align-items: center;
    overflow: auto;
    pointer-events: none;
}

#scores label {
    padding: 10px;
    transition-duration: 0.25s;
}

#scores label:not(.black-cell) {
    cursor: pointer;
}

.row-wrapper {
    display: contents;
}

.row-wrapper:hover>label {
    background-color: rgb(255, 255, 177);
}

.black-cell {
    background-color: black;
    justify-self: stretch;
    color: white;
}

.score-selected>label {
    pointer-events: none;
}

.score-selected label:first-child {
    color: lightgray;
}

.score-selected label:last-child {
    color: red;
}

#dice-area {
    position: relative;
    width: 100%;
    min-height: 215px;
}

#title-screen {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

#title-screen h1 {
    font-weight: normal;
    margin-top: 0;
    font-size: 64px;
}

#rolled-dice {
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    height: 100px;
    inset: 0 0 0 0;
    padding-left: 10px;
    padding-right: 10px;
}

#rolled-dice button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 100px;
    transition-duration: 0.25s;
}

#rolled-dice button img {
    pointer-events: none;
    transition-duration: 0.25s;
}

#rolled-dice button:active {
    scale: 0.95;
}

.hold {
    transform: translateY(-50px);
}

#turns {
    width: 100%;
    text-align: center;
    display: none;
    position: absolute;
    bottom: 0;
}

#roll-container {
    position: absolute;
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}

#roll {
    width: 100px;
    height: 60px;
    font-size: 48px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition-duration: 0.25s;
}

#roll:active {
    font-size: 40px;
}

.shake {
    animation: shake 0.62s;
}

#rerolls {
    visibility: hidden;
    margin: 0;
}

@media only screen and (min-width: 760px) {
    #title-screen {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #container {
        flex-direction: row;
    }

    #scores {
        height: 80%;
        padding-left: 10px;
    }

    #dice-area {
        width: 700px;
        height: 80%;
        min-height: 445px;
    }

    #turns {
        width: auto;
        right: 0;
        top: 0;
        margin: 10px 0 0 0;
        padding-right: 10px;
    }

    #rolled-dice {
        margin: auto;
    }

    #rolled-dice button:hover {
        scale: 1.1;
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}