body {
    margin: 0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scores {
    display: grid;
    width: 280px;
    height: 600px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(15, 1fr);
    align-items: center;
    padding-left: 10px;
}

.cellTop {
    align-self: start;
}

.cellBottom {
    align-self: end;
}

.blackCell {
    background-color: black;
    justify-self: stretch;
    color: white;
}

#dice-area {
    position: relative;
    width: 720px;
    height: 600px;
}

#title-screen {
    position: absolute;
    font-size: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#rolled-dice {
    display: none;
    justify-content: center;
    column-gap: 10px;
    position: absolute;
    height: 100px;
    inset: 0 0 0 0;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#rolled-dice button {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 100px;
    transition-duration: 0.25s;
}

#rolled-dice button:hover {
    scale: 1.1;
}

#rolled-dice button:active {
    scale: 0.95;
}

.hold {
    transform: translateY(-50px);
}

#turns {
    display: none;
    position: absolute;
    right: 0;
    padding-right: 10px;
    margin-top: 10px;
}

#roll {
    width: 100px;
    height: 60px;
    font-size: 48px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    inset: 270px 0 0 0;
    margin: auto;
    border: none;
    transition-duration: 0.25s;
}

#roll:active {
    font-size: 40px;
}

.shake {
    animation: shake 0.62s;
}

#rerolls {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -77%);
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}